<div class="fixed inset-0 flex flex-col justify-center items-center">
  <div class="text-center text-2xl md:text-4xl mb-8">เข้าสู่ระบบ</div>
  <div class="w-full flex justify-center">
    <form
      [formGroup]="login"
      (ngSubmit)="onSubmit()"
      class="w-3/5 flex flex-col justify-center items-center space-y-4"
    >
      <mat-form-field class="w-64">
        <mat-label>อีเมล</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email!.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-64">
        <mat-label>กรอกรหัสผ่าน</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-flat-button color="primary">ยืนยัน</button>
    </form>
  </div>
</div>
