<div class="flex flex-col items-center w-full">
  <div class="w-4/5 flex flex-col items-center gap-6">
    <div class="w-full font-black relative flex items-center justify-center">
      <mat-icon
        class="absolute left-0 cursor-pointer"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        >arrow_back_ios</mat-icon
      >
      <div class="hidden md:block font-bold text-center text-4xl">
        การทำงานของ Adaptive Model
      </div>
      <div class="md:hidden font-bold text-2xl text-center">
        <div>การทำงานของ</div>
        <div>Adaptive Model</div>
      </div>
    </div>

    <div class="w-full text-center flex justify-center flex-col items-center">
      <div class="text-2xl">โรคราแป้ง</div>
      <div class="w-full flex justify-center">
        <mat-form-field class="md:w-2/5">
          <mat-label>เลือกช่วงเวลา</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              (dateChange)="onDateRangeChange($event, 'start')"
              placeholder="ตั้งแต่"
            />
            <input
              matEndDate
              (dateChange)="onDateRangeChange($event, 'end')"
              placeholder="จนถึง"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="flex flex-col items-center 2xl:flex-row w-full justify-center">
        @if(dataset_powder[0].series.length > 0) {
        <ngx-charts-line-chart
          [view]="view"
          [results]="dataset_powder"
          [xAxisLabel]="'ช่วงเวลา'"
          [legendTitle]="'legend'"
          [yAxisLabel]="'ความแม่นยำ'"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="true"
          [yScaleMin]="yScaleMinPowder"
        >
        </ngx-charts-line-chart>
        }@else {
        <div>ไม่พบข้อูล</div>
        }
        <div>
          <app-table disease="powder"></app-table>
        </div>
      </div>
    </div>

    <div class="w-full text-center flex justify-center flex-col items-center">
      <div class="text-2xl">โรคใบร่วง</div>
      <div class="w-full flex justify-center">
        <mat-form-field class="md:w-2/5">
          <mat-label>เลือกช่วงเวลา</mat-label>
          <mat-date-range-input [rangePicker]="picker2">
            <input
              matStartDate
              (dateChange)="onDateRangeChange2($event, 'start')"
              placeholder="ตั้งแต่"
            />
            <input
              matEndDate
              (dateChange)="onDateRangeChange2($event, 'end')"
              placeholder="จนถึง"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker2></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="flex flex-col items-center 2xl:flex-row w-full justify-center">
        @if(dataset_newfall[0].series.length > 0) {
        <ngx-charts-line-chart
          [view]="view"
          [results]="dataset_newfall"
          [xAxisLabel]="'ช่วงเวลา'"
          [legendTitle]="'legend'"
          [yAxisLabel]="'ความแม่นยำ'"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="true"
          [yScaleMin]="yScaleMinNewfall"
        >
        </ngx-charts-line-chart>
        }@else {
        <div>ไม่พบข้อูล</div>
        }
        <div>
          <app-table disease="newfall"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
